<div class="color-primary">
	<h4><b><%= t('model_mailer.welcome.id_wallet') %> </b></h4>
</div>
<div class="color-gray">
	<p><%= @wallet.id %></p>
</div>
<div class="color-primary">
	<h4><b><%= t('model_mailer.recharge.amount') %></b></h4>
</div>
<div class="color-gray">
	<p>$<%= @amount %></p>
</div>

